{% extends 'base.html' %}
{% block title %}Hapus Merchandise{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <h1 class="h3">Konfirmasi Hapus</h1>
        <p>Apakah kamu yakin ingin menghapus merchandise <strong>{{ merchandise.name }}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Ya, hapus</button>
            <a href="{% url 'merchandise:merchandise_list' %}" class="btn btn-outline">Batal</a>
        </form>
    </div>
</div>
{% endblock %}